* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg,#2c3e50,#4ca1af);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.forgot-password-box {
    background:#1abc9c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
    text-align: center;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.back-to-signin {
    margin-top: 10px;
}

.back-to-signin a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
}

.back-to-signin a:hover {
    text-decoration: underline;
}
